[Desktop Entry]
Encoding=UTF-8
Name=Niobio
GenericName=Niobio wallet
Name[uk]=Niobio
Name[ru]=Niobio
Name[pl]=Niobio
Name[be]=Niobio
Comment=Niobio wallet
Comment[uk]=Niobio wallet
Comment[ru]=Niobio wallet
Comment[pl]=Niobio wallet
Comment[be]=Niobio wallet
Exec=niobio %U
Terminal=false
Type=Application
Icon=niobio
MimeType=x-scheme-handler/niobio;
Categories=Office;Finance;
Version=1.0.0
